{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 7, "knowledge_revision": 14, "git_revision": "e36988b35fa24715e5cec07131ca32e299384bb1", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "tic_tac_toe_backend/requirements.txt", "revision_history": [{"14": "e36988b35fa24715e5cec07131ca32e299384bb1"}]}